{% extends "base.j2" %}

{% block body %}
<h1>Hello, World!!</h1>

<p>Это наш супер-магазин. <b>Скоро открытие!</b></p>

<p>
	<a href="{{ url_for('more') }}">Подробнее ....</a>
    <br />
    <a href="{{ url_for('page_1') }}">Еще одна страница</a>
</p>

<p>
	А еще у нас есть калькулятор, который умеет умножать два числа
	<br />
	<a href="{{ url_for('calc') }}">Поглядите тут</a>
</p>
{% endblock %}