{% extends "base.j2" %}

{% block body %}
<h1>Hello, World!!</h1>

<p>Это наш супер-магазин. <b>Скоро открытие!</b></p>

<p>
	<a href="{{ url_for('more') }}">Подробнее ....</a>
    <br />
    <a href="{{ url_for('page_1') }}">Еще одна страница</a>
</p>

<p>
	А еще у нас есть калькулятор, который умеет умножать два числа
	<br />
	<a href="{{ url_for('calc') }}">Поглядите тут</a>
</p>

    <div class="row">
    {% for p in products -%}
        <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ p.title }}</h5>
            <p class="card-text">{{ p.description }}</p>
            <a href="{{ url_for('product_card', product_id=p.id) }}" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        </div>
    {%- endfor %}
    </div>
{% endblock %}