{% extends "base.j2" %}

{% block body %}
<h1>Подробности открытия</h1>


<p>Когда Мирон выучит что такое диаметр, тогда мы приступим</p>

<p>
	А пока идите на <a href="{{ url_for('index') }}">главную страницу</a>
</p>
{% endblock %}